
:root {
    /* dark shades of primary color*/

    --clr-white: #fff;
  
  }
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 90vw;
    margin: 5rem 0;
    max-width: var(--fixed-width);
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 1.5rem 2rem;
    box-shadow: var(--dark-shadow);
  }
button{
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}